{% extends "base.html" %}
{% block content %}

<div class="container">
  {% for dado in dados %}
  <div class="row">
    <div class="d-flex align-items-center flex-column">
      <img src="../static/data/image/logo.png" width="150" height="auto" class="mt-4">
      <h1 class="text-center" style="font-size: 2rem">O que é o projeto?</h1>
    </div>
    <div class="col-12">
      <p class="fw-normal " style="font-size: 1.2rem; text-align: justify;">
        {{dado.description}}</p>
    </div>
    <ul class="col-12 ">
      {% for students in dado.students %}
      <li class="list-group-item">{{students}}</li>
      {% endfor %}
    </ul>
    <ul class="col-12">
      {% for advisors in dado.advisors %}
      <li class="list-group-item">{{advisors}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
{% endblock %}