{% extends "base.html" %}

{% block content %}

<div class="d-flex align-content-center justify-content-center ">
  <div class="px-4 py-1 my-2 text-center col-md-6 col-sm-12">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
      {{ message }}
      {% endfor %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}
    <form action="/audioupload" enctype="multipart/form-data" method="POST">
      <div class="mb-3">
        <label for="formFile" class="form-label fw-bold mb-3" style="font-size: 2rem;">Faça upload do seu áudio</label>
        <input class="form-control" type="file" id="formFile" name="audio">
      </div>
      <div class="alert alert-dark">
        <h4 class="alert-heading" style="font-size: 1.2rem; ">Grave um áudio repetindo esse trava-língua</h4>
        <p style="text-align: justify;">
          <i class="bi bi-mic-fill"></i>
          Três tigres tristes para três pratos de trigo. Três pratos de trigo para três tigres tristes.
        </p>
      </div>
      <div class="accordion mb-3">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne ">
            <button class="accordion-button  d-flex align-items-center" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
              style="background-color: #cfe2ff; color:#0a58ca;">
              <h4 style="font-size: 1.2rem;"><i class="bi bi-info-circle-fill"></i> Informações de análise</h4>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body" style="background-color: #cfe2ff; color:#0a58ca;">
              <p style="text-align: justify;">O trava-língua foi utilizado para padronizar o áudio que será analisado
                através de uma rede neural. O resultado é obtido em formato de gráficos e grau de disfluência.

              </p>
              <hr>
              <div style="text-align: justify;">
                <p class="mb-0"> <i class="bi bi-check-circle-fill"></i> Áudio com limite máximo de 30 segundos (3MB/3.539KB ).

                </p>
                <hr>
                <p class="mb-0"> <i class="bi bi-check-circle-fill"></i> Formatos permitidos: MP3 ou WAV. </p>
                <hr>
                <p class="mb-0"> <i class="bi bi-check-circle-fill"></i> A gravação do áudio deve ser realizada em
                  ambiente silencioso para evitar falhas na análise.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="submit"> Confirmar </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}