{% extends "base.html" %}

{% block content %}

<div class="px-4 py-1 my-4  col-12 ">
  <h1 class="text-center mt-4">Análise de Frequência Formante</h1>
  <div class="col-lg-12 mx-auto">
    <p class="lead mb-4" style="font-size: 1.2rem;text-align: justify; ">
      A análise de Frequências Formantes é realizada com a utilização da biblioteca Parselmouth para calcular as
      frequências formantes (F1 e F2) do arquivo de áudio. Em seguida, é avaliada a clareza da voz com base nas
      tendências mencionadas anteriormente: F1 geralmente está na faixa de 300 Hz a 900 Hz, enquanto os valores de
      F2 estão na faixa de 800 Hz a 2800 Hz, a voz é considerada clara. Caso contrário, a voz é considerada confusa. No
      entanto, é importante lembrar que essa
      avaliação é apenas uma aproximação geral e pode não ser precisa para todas as situações.
    </p>
    <ul class="list-group mb-4">
      {% for formant in formants %}
      <li class="list-group-item" style="font-size: 1rem;text-align: justify; ">{{formant}}</li>
      {% endfor %}
    </ul>
    <p class="lead mb-4" style="font-size: 1.2rem;text-align: justify;">
      O primeiro formante, conhecido como F1, é principalmente influenciado pela abertura do trato vocal. Ele descreve a
      forma como a boca se abre e a garganta se posiciona ao produzir um som. Por outro lado, o segundo formante,
      chamado de F2, está mais relacionado à posição da língua dentro do trato vocal durante a fala.
      Com base em analises visualizamos a necessidade de aplicar 25% de range no primeiro formante, essa modificação é
      considerada devido a possíveis interferências adversas. No entanto, é importante destacar que essa alteração não
      teria um impacto significativo no resultado final.
    </p>
    <div class="d-grid gap-3 d-flex justify-content-center">
      <a href="/analyzes/{{ filename }}">
        <button type="button" class="btn btn-secondary gap-4 btn-md">Análises Gráficas <i
            class="bi bi-arrow-right"></i></button>
      </a>
    </div>
  </div>
</div>

{% endblock %}