{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="px-4 py-1 my-5 text-center col-12 ">
    <img src="../static/data/image/logo.png" width="150" height="auto">
    <h1 class="display-5 fw-bold" style="font-size: 3.5rem;">SpeechSnake</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4" style="font-size: 1.6rem; ">O projeto SpeechSnake é desenvolvido na linguagem de programação
        Python com o uso de
        bibliotecas de reconhecimento e analise de voz e fluência, desse modo há uma saída de com gráficos e dados.</p>
      <div class="d-grid gap-3 d-flex justify-content-center">
        <a href="/audioupload">
          <button type="button" class="btn btn-secondary btn-md p-2 gap-4 btn-lg">Analisar áudio</button>
        </a>
        <a href="/metrics">
          <button type="button" class="btn btn-outline-primary btn-md p-2 gap-4 btn-lg">Entender métricas</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}