{% extends "base.html" %}

{% block content %}

<div class="px-4 py-1 my-5 text-center">
  <h1 class="display-5 fw-bold">SpeechSnake</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">O projeto SpeechSnake é desenvolvido na linguagem de programação Python com o uso de
      bibliotecas de reconhecimento e analise de voz e fluência, desse modo há uma saída de com gráficos e dados.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/audioupload">
        <button type="button" class="btn btn-secondary btn-md px-4 gap-3">Analisar</button>
      </a>
    </div>
  </div>
</div>


{% endblock %}